.login-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;     

  background: linear-gradient(135deg, #f0f0f0, #d0d0d0);
  font-family: system-ui, sans-serif;
}

.login-box {
  background: white;
  padding: 2rem;
  width: 280px;

  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 0.7rem;
  margin: 0.6rem 0;

  border-radius: 6px;
  border: 1px solid #aaa;
  font-size: 1rem;
}

.login-box button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 0.6rem;

  background: #4d4d4d;
  color: white;
  border: none;
  border-radius: 6px;

  font-weight: 600;
  cursor: pointer;
  transition: 0.15s;
}

.login-box button:hover {
  background: #666;
}

.error {
  margin-top: 0.7rem;
  color: red;
  font-size: 0.9rem;
}
